doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Popup
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
  body
    #react-root
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/latest/react-bootstrap.min.js")